body {
    font-family: Arial;
    max-width: 800px;
    margin: 40px auto;
}

input,
textarea,
select {
    width: 100%;
    margin-bottom: 10px;
    padding: 6px;
}

button {
    padding: 10px;
    cursor: pointer;
}