@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
}

body {
    background-color: #f9fafb;
    /* gray-50 */
    color: #1f2937;
    /* gray-800 */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Ubuntu, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

/* links */
a {
    color: #1d4ed8;
    /* blue-700 */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}